@import models.CommitLog

@(commitLog: Option[CommitLog])

<div class="col-lg-3 box-below">
  @commitLog match {
    case Some(listOfCommits) => {
      <h2 class="commit-heading">@listOfCommits.repo</h2>
      <hr>
      <ol class="list-unstyled">
        @for(commit <- listOfCommits.commits) {
          <li>
            <p class="commit-text">
              <span><img src="@commit._1" height="25" width="25"></span>
              <span>@commit._2</span>
              <span class="float-right">@commit._3</span>
            </p>
            <p class="commit-text">@commit._4</p>
          </li>
          <hr>
        }
      </ol>
    }
    case None => {
      <p>There was a problem retrieving this commit log.</p>
    }
  }
</div>