.word-square-output {
  font-family: 'DejaVu Sans Mono', monospace;
  margin-bottom: -0.2rem;
}

.box-below {
  font-size: 1.7rem;
  text-align: center;
  color: #2C3E50;
  border-style: ridge;
  border-color: #18BC9C;
  border-radius: 25px;
}

.side-text {
  margin-top: auto;
  margin-bottom: auto;
  display: table-cell;
  vertical-align: middle;
}

.big-form {
  font-size: 1.3rem;
}

.big-form label {
  font-size: 1.6rem;
}

.big-form button {
  background-color: #18BC9C;
  color: #FFFFFF;
}

.big-form dd.error {
  color: #e82609;
  font-style: italic;
  font-size: 1.1rem;
}

#guess {
  width: 50px;
}

table.fixed {
  table-layout: fixed;
  width: 320px;
  height: 320px;
}

.commit-heading {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 14px;
}

.commit-text {
  font-size: 0.9rem;
}

.hangman-text {
  font-size: 1.4rem;
}

.hangman-image {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 4px;
}

.info-banner {
  background-color: #c69500;
  font-size: 1.1rem;
  color: #ffffff;
}

.big-check {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}

hr.dotted-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px dashed #2C3E50;
  width: 90%;
}
