@this(main: MainTemplate)

@()

@main("Unauthorised") {
  <section>
    <div class="container">
      <h2 id="pageTitle" class="text-center">Unauthorised access</h2>
      <br>
      <p class="text-center">You are not authorised to view the page you are trying to access.</p>
      <p class="text-center">If you were attempting to log in, please take care to check your credentials and enter them correctly.</p>
      <p class="text-center">Otherwise, please go back to the <a href="@controllers.routes.HomeController.home">homepage</a>.</p>
    </div>
  </section>
}