@import models.Boss
@import models.Zone

@(boss: Boss, bossForm: Form[BossForm])(implicit messages: Messages)

@main("Boss database") {
<section>
  <div class="container">
    <div class="row">
      <div align="center">
        <p>@boss.name</p>
        <p>@boss.description</p>
        <p>@boss.health</p>
        <p>@boss.level</p>
        <p>@boss.zone.name</p>
        <p>@boss.zone.description</p>
        @helper.form(routes.BossController.getBoss, 'class -> "big-form") {
          @helper.inputText(bossForm("Enter boss ID:"))
          <button type="submit">Get boss!</button>
        }
      </div>
    </div>
  </div>
</section>
}
