@import models.Boss

@(boss: Boss, bossForm: Form[BossForm] = BossForm.bossForm)(implicit messages: Messages)

@main("Boss API call") {
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6" align="center">
        @helper.form(routes.BossController.getBoss, 'class -> "big-form") {
          @helper.select(bossForm("bossID:"), Boss.validBosses, '_label -> "Select boss:", '_showConstraints -> false)
          <button type="submit">Get boss!</button>
        }
      </div>
      <div class="col-lg-6">
        <p><b>Name:</b> @boss.name</p>
        <p><b>Description:</b> @boss.description</p>
        <p><b>Health:</b> @boss.health</p>
        <p><b>Level:</b> @boss.level</p>
        <p><b>Zone name:</b> @boss.zone.name</p>
        <p><b>Zone location:</b> @boss.zone.location</p>
      </div>
    </div>
  </div>
</section>
}
