@import models.Boss
@import models.Zone

@(boss: Boss, bossForm: Form[BossForm])(implicit messages: Messages)

@main("Boss database") {
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6" align="center">
        @helper.form(routes.BossController.getBoss, 'class -> "big-form") {
          @helper.inputText(bossForm("Enter boss ID:"))
          <button type="submit">Get boss!</button>
        }
      </div>
      <div class="col-lg-6">
        <p><b>Name:</b> @boss.name</p>
        <p><b>Description:</b> @boss.description</p>
        <p><b>Health:</b> @boss.health</p>
        <p><b>Level:</b> @boss.level</p>
        <p><b>Zone name:</b> @boss.zone.name</p>
        <p><b>Zone description:</b> @boss.zone.description</p>
      </div>
    </div>
  </div>
</section>
}
