@import forms.GuessForm
@import games.hangman.Hangman

@(form: Form[GuessForm])(implicit messages: Messages)

@main("Hangman") {
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4" align="center">
        @helper.form(routes.HangmanController.makeGuess(), 'class -> "big-form") {
          @helper.inputText(form("guess"), '_label -> "Enter your guess:")
          <button type="submit">Submit</button>
        }
      </div>
      <div class="col-lg-8" align="center">
        @Hangman.result.map { line =>
          <p class="hangman-heading">@line</p>
        }
      </div>
    </div>
  </div>
</section>
}