@import forms.GuessForm
@import games.hangman.HangmanGameState

@(gameState: HangmanGameState, form: Form[GuessForm] = GuessForm.makeGuessForm)(implicit messages: Messages)

@main("Hangman") {
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3" align="center">
        @helper.form(routes.HangmanController.makeGuess(gameState), 'class -> "big-form") {
          @helper.inputText(form("guess"), '_label -> "Your guess:")
          <button type="submit">Submit</button>
        }
      </div>
      @if(gameState.turnNumber == 1) {
        <div class="col-lg-6 col-xl-6" align="center">
          <p class="hangman-text">Please enter a letter to start the game.</p>
        </div>
      } else {
        <div class="col-lg-6 col-xl-6" align="center">
          <p class="hangman-text">Turn number: @gameState.turnNumber</p>
          <p class="hangman-text">Remaining guesses: @gameState.remainingGuesses</p>
          <p class="hangman-text">Previous guesses: @gameState.previousGuesses.mkString(", ")</p>
          <p class="hangman-text">Current status: @gameState.currentWordStatus.mkString(" ")</p>
        </div>
        <div class="col-lg-3 col-xl-3" align="center">
        @gameState.hangingOutput.map { line =>
          <p class="hangman-image">@line</p>
        }
        </div>
      }
    </div>
  </div>
</section>

<script>
  document.getElementById('guess').focus();
</script>
}