@import config.AppConfig
@import templates.homepageSection

@()(implicit appConfig: AppConfig)

@main("Home") {
  <section>
    <div class="container">
      <div class="row">
        @homepageSection(
          title = "Audio player",
          subtext = "Upload and play an audio file",
          imageName = "playButton.png",
          link = routes.AudioPlayerController.show.url
        )
        @homepageSection(
          title = "Hangman",
          subtext = "Play a game of hangman",
          imageName = "hangman.png",
          link = routes.HangmanController.hangman.url
        )
      </div>
      <div class="row">
        @homepageSection(
          title = "WoW boss API",
          subtext = "View boss data from the Battle.net API",
          imageName = "wowLogo.png",
          link = routes.BossController.blankBoss.url
        )
        @homepageSection(
          title = "Github commit log",
          subtext = "View a list of recent Github commits",
          imageName = "github.svg",
          link = routes.GithubController.commitsPage.url
        )
      </div>
      <div class="row">
        @homepageSection(
          title = "Pixel grid",
          subtext = "Generate images from a HTML table",
          imageName = "1up.png",
          link = routes.PixelGridController.defaultGrid.url
        )
        @homepageSection(
          title = "Word square",
          subtext = "Generate a custom word square",
          imageName = "wordSquare.png",
          link = routes.WordSquareController.wordSquare.url
        )
      </div>
    </div>
  </section>
}
