@main("Home") {
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="@routes.WordSquareController.wordSquare">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            </div>
            <img class="img-fluid" src="@routes.Assets.versioned("images/letterA.jpg")">
          </a>
          <div class="below-square">Word square</div>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="@routes.BossController.blankBoss">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            </div>
            <img class="img-fluid" src="@routes.Assets.versioned("images/letterB.jpg")">
          </a>
          <div class="below-square">WoW boss API call</div>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="@routes.PixelGridController.blankGrid">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
            </div>
            <img class="img-fluid" src="@routes.Assets.versioned("images/letterC.jpg")">
          </a>
          <div class="below-square">Pixel grid</div>
        </div>
      </div>
    </div>
  </section>
}
