@main("Home") {
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="@routes.WordSquareController.wordSquare">
            <div class="row box-below">
              <div class="col-md-4">
                <img class="img-fluid" src="@routes.Assets.versioned("images/notFound.jpg")">
              </div>
              <div class="col-md-8 side-text">
                <strong>Word square</strong>
                <p>Generate a word square with a word of your choice</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="@routes.BossController.blankBoss">
            <div class="row box-below">
              <div class="col-md-4">
                <img class="img-fluid" src="@routes.Assets.versioned("images/notFound.jpg")">
              </div>
              <div class="col-md-8 side-text">
                <strong>WoW boss API</strong>
                <p>View boss data from the Battle.net API</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="@routes.PixelGridController.defaultGrid">
            <div class="row box-below">
              <div class="col-md-4">
                <img class="img-fluid" src="@routes.Assets.versioned("images/1up.png")">
              </div>
              <div class="col-md-8 side-text">
                <strong>Pixel grid</strong>
                <p>Generate images from a HTML table</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="@routes.GithubController.commitsPage">
            <div class="row box-below">
              <div class="col-md-4">
                <img class="img-fluid" src="@routes.Assets.versioned("images/github.svg")">
              </div>
              <div class="col-md-8 side-text">
                <strong>Github commit log</strong>
                <p>View a list of recent Github commits</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
}
