@import config.AppConfig
@import forms.LoginForm

@(form: Form[LoginForm] = LoginForm.loginForm)(implicit messages: Messages, appConfig: AppConfig)

@main("Login", appConfig) {
<section>
  <div class="container">
    <div class="row">
      @helper.form(routes.AdminController.login, 'class -> "big-form") {
        @helper.inputText(form("username"), '_label -> "Username")
        @helper.inputText(form("password"), '_label -> "Password")
        <button type="submit">Submit</button>
      }
    </div>
  </div>
</section>
}