@import models.PixelGrid

@(grids: Seq[PixelGrid], gridName: String)

@main("Pixel grid") {
  <section>
    <div class="container">
      <div class="row">
        @grids.map { grid =>
          <div class="col-lg-6" align="center">
            <form class="big-form" method="post" action="@controllers.routes.PixelGridController.loadGrid("Scala class")">
              <button type="submit">@grid.name</button>
            </form>
          </div>
        }
        <div class="col-lg-6">
          @grids.collectFirst {
            case grid if grid.name == gridName => grid.gridHtml
          }.getOrElse("ERROR LOADING GRID")
        </div>
      </div>
    </div>
  </section>
}