@import models.PixelGrid

@(grids: Seq[PixelGrid], gridName: String)

@main("Pixel grid") {
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6" align="center">
          <br>
          @grids.map { grid =>
            <form class="big-form" method="post" action="@controllers.routes.PixelGridController.loadGrid(grid.name)">
              <button type="submit">@grid.name</button>
            </form>
            <br>
          }
        </div>
        <div class="col-lg-6">
          @if(grids.exists(grid => grid.name == gridName)) {
            @grids.filter(grid => grid.name == gridName).head.gridHtml
          } else {
            Error generating grid
          }
        </div>
      </div>
    </div>
  </section>
}