@import config.AppConfig
@import forms.WordForm
@import games.WordSquare

@(word: String, wordForm: Form[WordForm] = WordForm.wordForm)(implicit messages: Messages, appConfig: AppConfig)

@main("Word square", appConfig) {
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6" align="center">
          @helper.form(routes.WordSquareController.wordSquare, 'class -> "big-form") {
            @helper.inputText(wordForm("word"), '_label -> "Enter word:")
            <button type="submit">Make square!</button>
          }
        </div>
        <div class="col-lg-6">
          @for(elem <- WordSquare.generateSquare(word)) {
            <p class="word-square-output">@elem</p>
          }
        </div>
      </div>
    </div>
  </section>
}
